<div class="invalid-feedback d-block" *ngIf="errores?.length > 0">
    <ul  >
        <li *ngFor="let err of errores ">
            {{ err }}
        </li>
    </ul>

</div>

<div class="card bg-light text-dark mt-2">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form [formGroup]="formuCliente"  autocomplete="off" novalidate>
            
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input  
                            formControlName="nombreCliente"
                            placeholder="Nombre Cliente"
                            name="nombreCliente" 
                            type="text" 
                            class="form-control" 
                            [ngClass]="{
                                'is-invalid': formuCliente.get('nombreCliente').invalid &&
                                    ( formuCliente.get('nombreCliente').dirty || formuCliente.get('nombreCliente').touched )
                                }"
                            > 
                        <div  *ngIf="formuCliente.controls['nombreCliente'].errors?.required"
                               class="invalid-feedback"
                                >
                            Nombre es Requerido
                        </div>
                        <div  class="invalid-feedback"
                                *ngIf="formuCliente.controls['nombreCliente'].errors?.minlength">
                            Nombre debe tener al menos 4 caracteres
                        </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input  
                            formControlName="apellidoCliente"
                            placeholder="Apellido Cliente"                             
                            name="apellidoCliente"
                            type="text"  
                            class="form-control" 
                            [ngClass]="{
                                'is-invalid': formuCliente.get('apellidoCliente').invalid &&
                                    ( formuCliente.get('apellidoCliente').dirty || formuCliente.get('apellidoCliente').touched )
                                }"
                            >
                        <div    class="invalid-feedback"
                                *ngIf="formuCliente.controls['apellidoCliente'].errors?.required">
                            apellido es Requerido
                        </div>
                        <div    class="invalid-feedback"
                                *ngIf="formuCliente.controls['apellidoCliente'].errors?.minlength">
                            apellido debe tener al menos 4 caracteres
                        </div>

                    
                    
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input  
                            name="emailCliente" 
                            placeholder="Email Cliente"
                            formControlName="emailCliente"
                            type="email" 
                            class="form-control" 
                            [ngClass]="{
                                'is-invalid': formuCliente.get('emailCliente').invalid &&
                                    ( formuCliente.get('emailCliente').dirty || formuCliente.get('emailCliente').touched )
                                }"
                            >
                            <div class="invalid-feedback"
                                 *ngIf="formuCliente.controls['emailCliente'].errors?.required">
                                email es Requerido
                            </div>
                            <div class="invalid-feedback" 
                                 *ngIf="formuCliente.controls['emailCliente'].errors?.pattern">
                                email debe tener un formato valido
                            </div>                            
                        
                        
                   
                </div>
            </div>

            <div class="form-group row">
                <label for="createAtCiente" class="col-form-label col-sm-2">Fecha Registro</label>
                <div class="col-sm-6">                                        
                    <input  matInput 
                            class="form-control" 
                            [matDatepicker]="createAtCliente" 
                            name="createAtCliente" 
                            formControlName="createAtCliente"
                            style="display: inline; width: 300px;"
                           >
                    <mat-datepicker-toggle matSuffix [for]="createAtCliente"></mat-datepicker-toggle>
                    <mat-datepicker #createAtCliente></mat-datepicker>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-6">
                    <button type="submit"
                            class="btn btn-primary" 
                            role="button"                            
                            *ngIf="!cliente.id else elseBlock"
                            [disabled]="formuCliente.invalid"
                            (click)="create()">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary"
                                role="button"                                 
                                [disabled]="formuCliente.invalid || formuCliente.pristine"
                                (click)="updateCliente()">Actualizar</button>
                    </ng-template>
                </div>
            </div>

            
        </form>

    </div>

</div>
