
<div class="card bg-light text-dark mt-2">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form #clienteForm="ngForm"  autocomplete="off" novalidate="">
            
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input  name="nombre" 
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="cliente.nombre"                             
                            required 
                            minlength="4"
                            #nombre="ngModel"
                            [class.is-invalid]="nombre.invalid && ( nombre.dirty || nombre.touched )"> 
                    <ng-container *ngIf="nombre.invalid && ( nombre.dirty || nombre.touched )">
                        <small  class="form-text text-danger"
                                *ngIf="nombre.errors.required">
                            Nombre es Requerido
                        </small>
                        <small  class="form-text text-danger"
                                *ngIf="nombre.errors.minlength">
                            Nombre debe tener al menos 4 caracteres
                        </small>
                    </ng-container>
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input  name="apellido" 
                            type="text"  
                            class="form-control" 
                            [(ngModel)]="cliente.apellido" 
                            required
                            [class.is-invalid]="apellido.invalid && ( apellido.dirty || apellido.touched )"
                            minlength="4"
                            #apellido="ngModel">
                    <ng-container *ngIf="apellido.invalid && ( apellido.dirty || apellido.touched )">
                        <small  class="form-text text-danger"
                                *ngIf="apellido.errors.required">
                            apellido es Requerido
                        </small>
                        <small  class="form-text text-danger"
                                *ngIf="apellido.errors.minlength">
                            apellido debe tener al menos 4 caracteres
                        </small>

                    </ng-container>
                    
                    
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input  name="email" 
                            [class.is-invalid]="email.invalid && ( email.dirty || email.touched )"
                            type="text" 
                            class="form-control" 
                            [(ngModel)]="cliente.email" 
                            required 
                            email 
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                            #email="ngModel" >
                        <ng-container *ngIf="email.invalid && ( email.dirty || email.touched )">                            
                            <small class="form-text text-danger"
                                 *ngIf="email.errors.required">
                                email es Requerido
                            </small>
                            <small class="form-text text-danger" 
                                 *ngIf="email.errors.email">
                                email debe tener un formato valido
                            </small>                            
                        </ng-container>
                        
                        
                   
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button type="submit"
                            class="btn btn-primary" 
                            role="button"
                            (click)="create( clienteForm )"                             
                            *ngIf="!cliente.id else elseBlock"
                            [disabled]="!clienteForm.form.valid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary"
                                role="button" 
                                (click)="updateCliente()"
                                [disabled]="!clienteForm.form.valid">Actualizar</button>
                    </ng-template>
                </div>
            </div>

            
        </form>

    </div>

</div>
